## Settings file was created by plugin Leaderboard Patch v1.2.0.0
## Plugin GUID: leaderboardpatch

[General]

## Username of the player
# Setting type: String
# Default value: Placeholder
Username = Aleringo

## Flag of the player(Format: US, GB, CA)
# Setting type: String
# Default value: US
Country = IT

