## Settings file was created by plugin Leaderboard Patch v0.1.1.0
## Plugin GUID: leaderboardpatch

[General]

## The username you want to use
# Setting type: String
# Default value: userTest
Username = ThatOneGuy

SteamID = 76561199006639737

